@import url('https://fonts.googleapis.com/css?family=Merriweather');


$brand-primary: beige;
$brand-secondary: red;
$brand-tertiary: black;
$font-size: 12px;
$section-height:400px;

body {
  height: 100vh;
  background-color: $brand-primary;
  color: $brand-secondary;
}

.section-container {
	background-color:$brand-primary;
	height:$section-height;
}


#portfolio-carousel {
	height:100%;
	background-color:$brand-tertiary;
	.carousel-inner {
		height:100%;
		width:60%;
		margin:0 auto;
		.carousel-item {
			height:100%;
			.carousel-caption {
				color:$brand-secondary;
			}
		}
	}
}
.profile-container {
	height:$section-height*.75;
	.skill-container {
		float:left;
	}
	.skill-list {
		height:100%;
		overflow:auto;
		background-color:$brand-secondary;

		.skill-block {
			height:40px;
			float:left;

			.btn {
				width:100%;
			}
		}
		.skill-code-1 {
			color:red;
		}
		.skill-code-2 {
			color:yellow;
		}
		.skill-code-3 {
			color:green;
		}
	}
}
